@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #fffffc;
  font-family: 'Nunito', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a:not(.generic-link) {
  text-decoration: none;
  color: inherit;
}
